@import "../../utilities.scss";

.navbar {
  height: 64px;
  width: 100%;
  padding: 16px;
  background-color: $primary_color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.navbar .navbar-container .container-environments {
  width: 500px;
  background-color: $primary_color;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 25px;
  overflow: hidden;
  // cursor: pointer;
}

.navbar .navbar-container .container-environments h1 {
  display: block;
  // background-color: $primary_color;
  // border: 1px solid #fff;
  // width: 500px;
  // border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // padding: 12px;
  margin: 12px;
}

.navbar .navbar-container .container-environments h1:focus {
  outline: none;
  overflow: unset;
  white-space: nowrap;
}

.navbar .navbar-container .container-environments ul {
  width: 500px;
  display: none;
  cursor: pointer;
}

.navbar .navbar-container .container-environments:hover ul {
  display: inline;
  position: absolute;
  z-index: 2;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block;
  opacity: 0.5;
}

.navbar .navbar-container .container-environments:hover ul li {
  list-style: none;
  background-color: $primary_color;
  border: 1px #ffffff;
  border-style: solid solid none solid;
  border-radius: 5px;
  padding: 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar .navbar-container .container-environments:hover ul .new-environment {
  display: flex;
  align-items: center;
  border-style: dashed solid solid solid;
  font-weight: 300;
}
