@import '../../utilities.scss';

.container-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #606060;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 4px;
    bottom: 3px;
    width: 4px;
    height: 10px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    border-color: $second_color;
    background: $second_color;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

label {
  padding-left: 0.3em;
  &::before {
    position: absolute;
    content: attr(data-content);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-color: #303030;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
  }
}