@import '../../global.scss';

.outter-popup-container {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.outter-popup-container .popup-container {
  opacity: 1;
  margin: auto;
  background-color: #dddddd;
  border-radius: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
}

.outter-popup-container .popup-container .popup-container-title {
  margin: 30px 25px 50px 25px;
  width: 100%;
}

.outter-popup-container .popup-container .popup-container-title h1 {
  color: #303030;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.outter-popup-container .popup-container .popup-content {
  width: 80%;
}