@import '../../utilities.scss';

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-page header {
  width: 100%;
  padding: 10px 16px;
}

.home-page header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-page header nav img {
  margin-left: 50px;
}

.home-page header nav div {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.home-page header nav div a {
  padding: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #303030;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.home-page header nav div .about-container {
  border-right: 1px solid #229897;
}

.home-page header nav div .about-container a {
  margin-right: 20px;
}

.home-page section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.home-page section .main-description {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.home-page section .main-description h1 {
  font-size: 40px;
  color: #303030;
}

.home-page section .main-subdescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.home-page section .main-subdescription p {
  font-size: 25px;
  color: #666666;
  margin-left: 10px;
}

.home-page section .main-subdescription button {
  background-color: #00A5CF;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border: none;
  margin-left: 20px;
  color: #fff;
}
